In [1]:
get_ipython().system("pip install 'rfpimp==1.3.7' as rfpimp")
get_ipython().system('pip install pandas')
get_ipython().system('pip install sklearn.ensemble')
get_ipython().system('pip install sklearn.model_selection')
get_ipython().system("pip install 'scikit-learn==0.22.2'")


from rfpimp import importances, plot_importances
import pandas as pd
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.model_selection import train_test_split

# df_orig = pd.read_csv("/Users/vanessawilson/sbox/Curriculum/DA_DA430/rent.csv")
df_orig = pd.read_csv("/Users/vanessawilson/sbox/Curriculum/DA_DA430/bank-additional/bank-additional-full.csv")

Collecting rfpimp==1.3.7
  Using cached rfpimp-1.3.7.tar.gz (10 kB)
  Preparing metadata (setup.py) ... - done
ERROR: Could not find a version that satisfies the requirement as (from versions: none)
ERROR: No matching distribution found for as
Requirement already satisfied: pandas in /Users/vanessawilson/.conda/envs/Analyzing_Alpha/lib/python3.7/site-packages (1.3.2)
Requirement already satisfied: numpy>=1.17.3 in /Users/vanessawilson/.conda/envs/Analyzing_Alpha/lib/python3.7/site-packages (from pandas) (1.21.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/vanessawilson/.conda/envs/Analyzing_Alpha/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/vanessawilson/.conda/envs/Analyzing_Alpha/lib/python3.7/site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/vanessawilson/.conda/envs/Analyzing_Alpha/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
ERROR: Could not find a version that satisfies the requirement sklearn.ensemble (from versions: none)
ERROR: No matching distribution found for sklearn.ensemble
ERROR: Could not find a version that satisfies the requirement sklearn.model_selection (from versions: none)
ERROR: No matching distribution found for sklearn.model_selection
Requirement already satisfied: scikit-learn==0.22.2 in /Users/vanessawilson/.conda/envs/Analyzing_Alpha/lib/python3.7/site-packages (0.22.2)
Requirement already satisfied: joblib>=0.11 in /Users/vanessawilson/.conda/envs/Analyzing_Alpha/lib/python3.7/site-packages (from scikit-learn==0.22.2) (1.1.0)
Requirement already satisfied: numpy>=1.11.0 in /Users/vanessawilson/.conda/envs/Analyzing_Alpha/lib/python3.7/site-packages (from scikit-learn==0.22.2) (1.21.2)
Requirement already satisfied: scipy>=0.17.0 in /Users/vanessawilson/.conda/envs/Analyzing_Alpha/lib/python3.7/site-packages (from scikit-learn==0.22.2) (1.7.1)

/Users/vanessawilson/.conda/envs/Analyzing_Alpha/lib/python3.7/site-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.ensemble.forest module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.ensemble. Anything that cannot be imported from sklearn.ensemble is now part of the private API.
  warnings.warn(message, FutureWarning)

In [7]:
df

      age;"job";"marital";"education";"default";"housing";"loan";"contact";"month";"day_of_week";"duration";"campaign";"pdays";"previous";"poutcome";"emp.var.rate";"cons.price.idx";"cons.conf.idx";"euribor3m";"nr.employed";"y"
0      56;"housemaid";"married";"basic.4y";"no";"no";...
1      57;"services";"married";"high.school";"unknown...
2      37;"services";"married";"high.school";"no";"ye...
3      40;"admin.";"married";"basic.6y";"no";"no";"no...
4      56;"services";"married";"high.school";"no";"no...
...                                                  ...
41183  73;"retired";"married";"professional.course";"...
41184  46;"blue-collar";"married";"professional.cours...
41185  56;"retired";"married";"university.degree";"no...
41186  44;"technician";"married";"professional.course...
41187  74;"retired";"married";"professional.course";"...

[41188 rows x 1 columns]

In [2]:
import numpy as np
df = df_orig.copy()

# attentuate affect of outliers in price
df['duration'] = np.log(df['duration'])

KeyError: 'age'

In [ ]:
df.head()

In [ ]:
df_train, df_test = train_test_split(df_orig, test_size=0.20)
features = ['age', 'job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week',
            'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
            'cons.conf.idx', 'euribor3m', 'nr.employed', 'conversion']
df_train = df_train[features]
df_test = df_test[features]

X_train, y_train = df_train.drop('conversion',axis=1), df_train['conversion']
X_test, y_test = df_test.drop('conversion',axis=1), df_test['conversion']
# Add column of random numbers
X_train['random'] = np.random.random(size=len(X_train))
X_test['random'] = np.random.random(size=len(X_test))

rf = RandomForestClassifier(n_estimators=100,min_samples_leaf=5,n_jobs=-1,oob_score=True)
rf.fit(X_train, y_train)

imp = importances(rf, X_test, y_test, n_samples=-1)
viz = plot_importances(imp)
viz.view()